@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap');

body {
    margin: 0;
    padding: 0;
    padding-top: 70px;
    font-family: 'Roboto', sans-serif;
    background-color: #FF6542;
    background-image: url('../images/backgrounds/home.jpeg');
    background-size: cover;
}

#title {
    margin: auto;
    text-align: center;
    color: #000000;
    font-family: "Rubik Doodle Shadow", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 6em;
    margin-top: 20px;
    margin-bottom: 40px;
}

#description {
    text-align: start;
    color: #000000;
    font-size: 1.1em;
    margin-bottom: 20px;
}

#wrapper {
    max-width: 50%;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    background-color: #3583dc;
    color: #fff;
    font-size: 1.1rem;
    padding: 10px 20px;
    width: 220px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.1s ease, transform 0.1s ease;
}

button:hover {
    background-color: #1e4d84;
    transform: scale(1.05);
}

button:active {
    background-color: #204a7e;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}